{
  "printWidth": 100,
  "tabWidth": 2,
  "useTab": true,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLinte": false,
  "arrowParens": "avoid",
	"proseWrap": "never",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
